/*------GENERAL------ */

body{
    font-family: 'Raleway';
    color: 333;
}

/* ------VIEWS------ */
#home {
    width: 300px;
    padding: 10px;
    margin: 100px auto;
    border: 1px solid rgba(201, 201, 207, 0.924);
    border-radius: 3px;
}

#profile {
    width: 300px;
    padding: 10px;
    margin: 100px auto;
    border: 1px solid rgba(201, 201, 207, 0.924);
    border-radius: 3px;
}

.profilepic {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 285px;
}

#editprofile {
    width: 300px;
    padding: 10px;
    margin: 100px auto;
    border: 1px solid rgba(201, 201, 207, 0.924);
    border-radius: 3px;
}

#upload {
    width: 300px;
    padding: 10px;
    margin: 100px auto;
    border: 1px solid rgba(201, 201, 207, 0.924);
    border-radius: 3px;
}

/* ------FORMS------ */
form { 
    padding: 10%;
    margin: 10%;
    border: 1px solid rgba(197, 29, 99, 0.877);
    border-radius: 3px;
}

label {
 font-size: medium;
}

/*------BUTTONS------ */

.btn-success {
    background-color: #000000;
    color: white;
    border-radius: 3px;
    border: 2px solid #000000;
    font-family: inherit;
    display: inline-block;
    width: 160px;
    margin-top: 10%
}

/* ------LOGO CLASS------ */

.logo {
    width: 100px;
    padding: 10px;
}


/* ------NAVBAR------ */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: #111;
  } 

/* -----PAGES----- */

.page {
    display: none;
    width: 100%;
    min-height: 100%;
}

.active {
    display: block;
}

.big {
    font-size: 5em;
    font-weight: 900;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    transition: all 0.4s;
}

hr {
    border-top: 1px solid #cc095ac7;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#new_comment {
    margin-top: 10px;
}